<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Lista de Eventos</title>
</head>
<body>

	<div class="container">
		<fieldset>
		<legend>Navbar</legend>
			<h4><a href="/">home</a>
			&nbsp;
			<a href="/eventoLista">Lista</a>
			&nbsp;
			<a href="/eventoCadastro">Cadastro</a></h4>
			&nbsp;
		</fieldset>
		&nbsp;
	</div>
	
	
	<div class="container">
		<fieldset>
		<legend>Descrição do Evento</legend>
			
		<form method="post"  th:action="@{/buscaEvento}">
			<label>Nome:</label>
			<input th:type="text" name="eventoDescricao">
			<input type="submit" value="Buscar"/>
		</form>
		&nbsp;
			
			<table class="" border="1">
				<thead>
					<tr>
						<th>ID</th>
						<th>Descrição</th>
						<th>Local</th>
						<th>Data</th>
						<th>Horario</th>
						<th>Z</th>
						<th>X</th>
						<th>Y</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${eventos}" >
						<td th:text="${e.eventoId}"></td>
						<td> <a th:href="@{/convidadoCadastro/{id}(id=${e.eventoId})}" ><span th:text="${e.eventoDescricao}"></span></a></td>
						<td th:text="${e.eventoLocal}"></td>
						<td th:text="${e.eventoData}"></td>
						<td th:text="${e.eventoHorario}"></td>
						<td> <a th:href="@{/excluiEvento/{id}(id=${e.eventoId})}">Excluir</a></td>
						<td> <a th:href="@{/editaEvento/{id}(id=${e.eventoId})}">Editar</a></td>
						<td> <a th:href="@{/convidadoCadastro/{id}(id=${e.eventoId})}" >Add Covindado</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
	
</body>
</html>